header {
    color: deepskyblue;
    text-align: center;
}

.bio {
    width: 60%;
    margin: 20px auto;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.bio-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.bio-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.bio-pic {
    flex: 1 40%;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
}

.bio-pic img {
    max-width: 100%;
    height: auto;
    align-self: center;
}

.bio-description {
    flex: 1 60%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.faq {
    width: 50%;
    margin: 20px auto;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.faq-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.faq-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.faq-pic {
    flex: 1 50%;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
}

.faq-pic img {
    max-width: 100%;
    height: auto;
}

.faq-description {
    flex: 1 50%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.image {
    width: 70%;
    margin: 20px auto;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.image-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.image-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.image-pic {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
}

.image-pic img {
    max-width: 100%;
    height: auto;
}

.drinks {
    width: 60%;
    margin: 20px auto;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.drinks-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.drinks-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.drinks-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.activities {
    width: 50%;
    margin: 20px auto;
    border: 3px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.activities-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.activities-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.activities-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

@media screen and (max-width: 30em)
{
.bio {
    width: 90%; 
}

.bio .bio-container {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;

    align-items: stretch;
}

.bio .bio-container .bio-title,
.bio .bio-container .bio-pic,
.bio .bio-container .bio-description {
    flex: 1 100%;
}

.bio .bio-container .bio-title {
    order: 1;
}

.bio .bio-container .bio-pic {
    order: 2;
    align-self: center;
}

.bio .bio-container .bio-description {
    order: 3;
}

.faq {
    width: 90%; 
}
    
.faq .faq-container {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;

    align-items: stretch;
}

.faq .faq-container .faq-title,
.faq .faq-container .faq-pic,
.faq .faq-container .faq-description {
    flex: 1 100%;
}

.faq .faq-container .faq-title {
    order: 1;
}

.faq .faq-container .faq-description {
    order: 2;
}

.faq .faq-container .faq-pic {
    order: 3;
    align-self: center;
}
    
.image {
    width: 90%; 
}

.image .image-container {
    -webkit-flex-direction: column !important;
    flex-direction: column !important;

    align-items: stretch;
}

.image .image-container .image-title,
.image .image-container .image-pic {
    flex: 1 100%;
}

.image .image-container .image-title {
    order: 1;
}

.image .image-container .image-pic {
    order: 2;
    align-self: center;
}

.drinks, .activities {
    width: 90%; 
}
}

@media screen and (min-width:30.01em) and (max-width: 48em)
{

}

@media screen and (min-width:48.01em) and (max-width: 60em)
{

}

@media screen and (min-width:60.01em) and (max-width: 80em)
{

}

@media screen and (min-width:80.01em) 
{

}