body {
    margin: 0 auto;
    background-color: lavenderblush;
    font-family: Verdana, Arial, sans-serif;
}

header {
    color: deepskyblue;
    text-align: center;
}

nav {
    background-color: deepskyblue;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: yellow;
    color: black;
}

nav a:visited {
    color: purple;
}

.jobs {
    width: 45%;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.jobs-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.jobs-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.jobs-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

.job-opportunities {
    list-style-type: none;
}

.form {
    width: 70%;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.form-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.form-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.form-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}

form {
    width: 100%;
    margin: 0 auto;
    max-width: 70%;
}

form fieldset {
    padding: 1rem;
    border: none;
}

.form-group {
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: row;
    flex-direction: row;
  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: center;
    margin-bottom: 1rem;
}

.form-group > label {
    flex: 1 25%;
    padding-right: 5%;
    text-align: right;
}

.form-control {
    flex: 1 70%;
  
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: column;
    flex-direction: column;
  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: center;
}

.form-control input,
.form-control textarea {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 18px;
    height: 50px;
    width: 100px;
}

footer {
    flex: 1 100%;
    background-color: deepskyblue;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 30em)
{   
nav a {
    float: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

.jobs {
    width: 90%;
}    

.form {
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.form-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.form-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.form-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}
    
form {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.form-group {
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: row;
    flex-direction: row;
  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: center;
    margin-bottom: 1rem;
}

.form-group > label {
    flex: 1 100%;
    padding-right: 5%;
    text-align: left;
}

.form-control {
    flex: 1 100%;
  
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: column;
    flex-direction: column;
  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: left;
}

.form-control input,
.form-control textarea {
    margin-bottom: 0.5rem;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
    
footer {
    flex: 1 100%;
    color: white;
    background-color: deepskyblue;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}
}

@media screen and (min-width:30.01em) and (max-width: 48em)
{
nav a {
    float: none;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

.jobs {
    width: 90%; 
}
    
.form {
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.form-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.form-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.form-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}
    
form {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.form-group {
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: row;
    flex-direction: row;
  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: center;
    margin-bottom: 1rem;
}

.form-group > label {
    flex: 1 100%;
    padding-right: 5%;
    text-align: left;
}

.form-control {
    flex: 1 100%;
  
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: column;
    flex-direction: column;
  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: left;
}

.form-control input,
.form-control textarea {
    margin-bottom: 0.5rem;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
}

@media screen and (min-width:48.01em) and (max-width: 60em)
{
.form {
    width: 90%;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
}

.form-container {
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;

    align-items: center;
    align-content: flex-start;

    padding: 0.5rem;
}

.form-title {
    flex: 1 100%;
    box-sizing: border-box;
    color: white;
    background-color: deepskyblue;
    padding: 0.5rem;
}

.form-description {
    flex: 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}
    
form {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.form-group {
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: row;
    flex-direction: row;
  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: center;
    margin-bottom: 1rem;
}

.form-group > label {
    flex: 1 100%;
    padding-right: 5%;
    text-align: left;
}

.form-control {
    flex: 1 100%;
  
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-direction: column;
    flex-direction: column;
  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  
    align-content: left;
}

.form-control input,
.form-control textarea {
    margin-bottom: 0.5rem;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
}

@media screen and (min-width:60.01em) and (max-width: 80em)
{

}

@media screen and (min-width:80.01em) 
{

}